---
import Container from "../containers/Container.astro";
import Agenda from "./Agenda";
import Title from "../Title.astro";
import { fetchAgenda } from "@/utils/fetchAgenda";
import VerMasButton from "../VerMasButton.astro";
const events = await fetchAgenda();
---

<Container class="w-full mt-26 sm:mt-16">
  <Title
    title="Lo vivis en Brava"
    verTodasTexto="todos"
    subtitle="Encontrá aquí la agenda musical de los eventos más importantes que estarán en nuestra provincia."
    imageUrl="/sections-icons/agenda-icon.webp"
    cantidad={events.length}
    link="/agenda"
  />
  <Agenda events={events} cantidad={4} client:only="react" />
  <div class="flex md:hidden w-full justify-end items-center mt-10">
    <VerMasButton
      cantidad={events.length}
      link="/agenda"
      verTodasTexto="todos"
    />
  </div>
</Container>
