---
import { fetchAgenda } from "@/utils/fetchAgenda";

import ViewAllButton from "../ViewAllButton.astro";
import EventCard from "./EventCard.astro";
import FeaturedEvent from "./FeaturedEvent.astro";
import Container from "../containers/Container.astro";

const events = await fetchAgenda();
if (!events || events.length === 0) throw new Error("No events found");

const [featured, ...rest] = events;
---

<Container class="py-10 md:py-16 px-4">
    <div class="flex items-center justify-between mb-6">
        <div>
            <h2
                class="text-muted-foreground text-sm font-inter uppercase tracking-wider"
            >
                Proximamente
            </h2>
            <p class="text-xl md:text-2xl font-bold font-tusker">
                Consultá nuestros próximos estrenos
            </p>
        </div>
        <ViewAllButton count={events.length} />
    </div>

    <section class="relative h-[55vh]">
        <div class="flex h-full w-full gap-6">
            <div class="w-[30%] h-full">
                <FeaturedEvent event={featured} />
            </div>
            <div
                class="flex-1 col-span-2 grid grid-cols-2 grid-rows-2 gap-4 h-full"
            >
                {
                    rest.map((event) => (
                        <EventCard key={event.id} event={event} />
                    ))
                }
            </div>
        </div>
    </section>
</Container>
