---
import Container from "@/components/containers/Container.astro";
import Layout from "@/layouts/Layout.astro";
import { fetchBlogs } from "@/utils/fetchBlogs";
import BlogHero from "@/components/brava-news/BlogHero.tsx";
import { RichTextRenderer } from "@/components/brava-news/RichTextRenderer";

export async function getStaticPaths() {
  const blogs = await fetchBlogs();

  return blogs.map((post) => ({
    params: { slug: post.id },
  }));
}

const { slug } = Astro.params;
const blogs = await fetchBlogs();
const blog = blogs.find((post) => post.slug === slug);
---

<Layout
  title={blog?.title}
  description={blog?.content[0]?.text || "Blog post content"}
  pathname={`/brava-news/${blog?.slug}`}
>
  {
    blog ? (
      <main class="flex flex-col gap-10 w-full">
        <BlogHero b={blog} />
        <Container class="lg:max-w-[65vw] min-h-screen">
          <RichTextRenderer nodes={blog.content} client:only="react" />
        </Container>
      </main>
    ) : (
      <Container class="mt-40">
        <p>Blog no encontrado.</p>
      </Container>
    )
  }
</Layout>
