---
import { ExternalLink } from "@lucide/astro";

type Props = {
  imageUrl: string;
  title: string;
  link: string;
};

const { imageUrl, title, link } = Astro.props;
---

<a
  href={link}
  target="_blank"
  rel="noopener noreferrer"
  class="group block relative w-full aspect-square rounded-sm overflow-hidden border-2 border-[#8B8B8B]"
>
  <img
    src={imageUrl}
    alt={title}
    class="w-full h-full object-cover absolute top-0 left-0 transition-all duration-200"
  />
  <div
    class="absolute top-0 right-0 bg-black/80 backdrop-blur p-3 rounded-bl-2xl transition-all duration-200"
  >
    <ExternalLink class="text-white" />
  </div>
  <div
    class="absolute bottom-0 left-0 w-full bg-black/80 backdrop-blur py-3 px-4 group-hover:bg-black/90 group-hover:h-full group-hover:flex group-hover:gap-4 group-hover:flex-col group-hover:items-center group-hover:justify-center transition-all duration-200"
  >
    <span
      class="text-white font-medium text-lg font-ibm uppercase group-hover:tracking-wide group-hover:font-tusker group-hover:text-5xl group-hover:text-center"
      >{title}</span
    >
    <ExternalLink class="text-white hidden group-hover:block" />
  </div>
</a>
