---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";
import RRSS from "@/components/rrss/RRSS.astro";
import ConocenosMas from "@/components/ConocenosMas.astro";
import EntreSecciones from "@/components/ads/EntreSecciones.astro";
import AgendaSection from "@/components/agenda/AgendaSection.astro";
import SpotifyPlaylists from "@/components/SpotifyPlaylists.astro";
import NewsSection from "@/components/brava-news/NewsSection.astro";
import Programacion from "@/components/programacion/Programacion.astro";
---

<Layout title="Brava 94.9" description="La radio que te acompaña" pathname="/">
  <Hero />
  <section class="flex flex-col md:gap-10 mt-10 relative">
    <Programacion />
    <AgendaSection />
    <NewsSection />
  </section>
  <EntreSecciones />
  <RRSS />
  <section class="flex flex-col md:gap-10 mt-10 relative">
    <SpotifyPlaylists />
    <ConocenosMas />
  </section>
  <EntreSecciones />
</Layout>
