---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";
import RRSS from "@/components/rrss/RRSS.astro";
import ConocenosMas from "@/components/ConocenosMas.astro";
import EntreSecciones from "@/components/ads/EntreSecciones.astro";
import AgendaSection from "@/components/agenda/AgendaSection.astro";
import SpotifyPlaylists from "@/components/SpotifyPlaylists.astro";
import Programacion from "@/components/Programacion.astro";
import BravaNews from "@/components/brava-news/BravaNews.astro";
---

<Layout title="Brava 94.9" description="La radio que te acompaña" pathname="/">
  <Hero />
  <section class="flex flex-col md:gap-10 mt-10 relative">
    <img
      src="/backgrounds/gray-gradient.png"
      alt="Gradient Background"
      class="absolute inset-0 z-[-1] w-full h-full object-cover"
    />
    <Programacion />
    <AgendaSection />
    <BravaNews />
  </section>
  <EntreSecciones />
  <RRSS />
  <section class="flex flex-col md:gap-10 mt-10 relative">
    <SpotifyPlaylists />
    <img
      src="/backgrounds/gray-gradient.png"
      alt="Gradient Background"
      class="absolute inset-0 z-[-1] w-full h-full object-cover"
    />
    <ConocenosMas />
  </section>
  <EntreSecciones />
</Layout>
