---
interface Props extends React.ComponentProps<"a"> {
    href: string;
    class?: string;
    variant?: "light" | "dark";
    size?: "base" | "md";
}

const { href, class: className, variant = "dark", size = "md" } = Astro.props;
---

<a
    href={href}
    class={`
    px-4 py-2 sm:px-6 sm:py-3 lg:px-8 lg:py-3 bg-blue-500 rounded-full font-inter font-bold transition-all duration-75 cursor-pointer flex
    ${variant === "light" ? "bg-white text-gray-900 hover:text-rojo-600 hover:outline-2 hover:outline-rojo-600" : "bg-negro-400 text-white hover:text-gray-100 hover:outline-2 hover:outline-gray-300"} 
    ${size === "md" ? "text-md sm:text-lg" : "text-sm sm:text-lg lg:text-xl"}
    ${className}
`}
>
    <slot />
</a>
