---
import { fetchPlaylists } from "@/utils/fetchPlaylists";
import Container from "./containers/Container.astro";
import SpotifyCard from "./spotify/SpotifyCard.astro";
import Title from "./Title.astro";

const playlists = await fetchPlaylists();
if (!playlists || playlists.length === 0) {
  return;
}
---

<Container class="mt-26 sm:mt-16 w-full">
  <Title
    title="Sigamos en Spotify"
    subtitle="Playlists hechas para cada momento. ¡Dale play y disfrutá!"
    imageUrl="/sections-icons/spotify-icon.webp"
  />

  <div
    class="grid grid-cols-2 md:grid-cols-4 justify-between mt-16 gap-4 md:gap-6"
  >
    {
      playlists.map((pl) => (
        <SpotifyCard
          imageUrl={pl.imagen.url}
          title={pl.nombre}
          link={pl.link}
        />
      ))
    }
  </div>
</Container>
