---
---

<div>
	<h1 id="title">Hola :D</h1>
	<div class="box w-10 h-10 bg-red-500"></div>
	<div class="box w-10 h-10 bg-rojo"></div>
</div>

<script type="module">
  import { animate } from "motion";
  animate(".box", { rotate: 360, opacity: [0, 1] }, { duration: 2 });
</script>